html {
  --label: 1em;
  --primary: #3a7fc2;
  --second: #fff;
  --third: #000;
  --bg: #ddd;
}
body {
  width: 100%;
  margin: auto;
  background: url("../IMG/bgrdv.png") no-repeat;
  background-size: cover;
  font-family: arial;
}
#page {
  width: 99.9%;
  margin: auto;
  display: flex;
}
.login {
  width: 30%;
  margin: auto;
  margin-top: 5vh;
  background-color: var(--second);
  display: flex;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}
.login .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title .logo {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.title .logo-left {
  width: 10%;
  display: flex;
  flex-direction: row;
}
.title .img_log {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img_log img {
  width: 22%;
}
.img_log p {
  width: 75%;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.title .logo h1 {
  width: 100%;
  margin: auto;
  font-size: 1em;
}
.logo-left h1 {
  font-size: 0.8em;
  width: 100%;
  margin: auto;
  text-align: right;
}
.login .formu {
  width: 95%;
  margin: auto;
  display: flex;
  margin-top: 1em;
  flex-direction: column;
}
.formu form {
  width: 100%;
  display: flex;
  margin-top: 1.1em;
  flex-direction: column;
}
.formu label {
  font-size: 0.9em;
  color: var(--third);
  padding: 10px 1px;
  font-weight: bold;
}
.formu input {
  height: 35px;
  padding: 0px 10px;
  color: #444;
  font-weight: bold;
  margin-bottom: 1em;
}
.formu input[type="submit"] {
  background-color: var(--third);
  border: none;
  font-size: 1em;
  color: var(--second);
  border-radius: 5px;
  &:hover {
    background-color: forestgreen;
  }
}
.login .info-client p,
.info-user p {
  font-size: 0.9em;
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
}
.info-client .btn-declare {
  display: block;
  background-color: var(--second);
  border: 1px solid;
  color: var(--primary);
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
}
.copyright {
  text-align: center;
  font-size: 0.8em;
  color: var(--third);
  line-height: 1.5em;
}
